<section id="about" class="s-about">
	<header class="s-about__header">
		<div class="header-image">
			<img src="assets/images/profile.jpg" alt="A profile image of Noa">
		</div>

		<h2>
			About Noa Kim
		</h2>

		<ul class="label-wrapper">
			<!-- Passion -->
			<li>🔥 Problem Solver</li>
			<li>🔥 Passionate Builder</li>

			<!-- Talent -->
			<li>⚡ Great Teacher</li>
			<li>⚡ Execution Focused</li>

			<!-- Mission -->
			<li>🛡️ Service Minded</li>
			<li>🛡️ Protector</li>

			<!-- Spoken Languages -->
			<li>🗣️ Polyglot</li>
			<li>🗣️ English</li>
			<li>🗣️ Korean</li>
			<li>🗣️ Spanish</li>
			<li>🗣️ Portuguese</li>
		</ul>
	</header>

	<p>
		I’m a full-stack software engineer whose career began long before my first
		line of production code. Before tech, I worked in the apparel industry—helping
		manufacture women’s clothing with my family, traveling the country selling
		products at fashion shows, and learning firsthand how businesses succeed or
		fail. When our small company couldn’t afford a website, I taught myself to
		code to build one. What started as a practical solution to a business problem
		became a passion that ultimately changed the trajectory of my career.
	</p>

	<p>
		The path from garment manufacturing to software engineering wasn’t planned,
		but it taught me how to solve real business problems and adapt quickly when
		opportunities arise. Since breaking into tech through a QA role, I’ve grown
		into a full-stack engineer by taking ownership of complex challenges,
		delivering high-impact solutions, and earning trust through execution. My
		background gives me a unique perspective: I care deeply about both the quality
		of the software and the people it serves. I’m most energized by mission-driven
		work where curiosity, ownership, and thoughtful problem-solving create
		meaningful impact.
	</p>
</section>