<section id="about" class="s-about bg-primary">
	<div class="blade-up"></div>
	<header class="s-about__header">
		<div class="header-image">
			<img src="assets/images/profile.jpg" alt="A profile image of Noa">
		</div>

		<h2 class="accent">
			About Noa Kim
		</h2>

		<ul class="label-wrapper">
			<!-- Passion -->
			<li class="label bg-tertiary">🔥 Problem Solver</li>
			<li class="label bg-tertiary">🔥 Passionate Builder</li>

			<!-- Talent -->
			<li class="label bg-tertiary">⚡ Great Teacher</li>
			<li class="label bg-tertiary">⚡ Execution Focused</li>

			<!-- Mission -->
			<li class="label bg-tertiary">🛡️ Service Minded</li>
			<li class="label bg-tertiary">🛡️ Protector</li>

			<!-- Spoken Languages -->
			<li class="label bg-tertiary">🗣️ Polyglot</li>
			<li class="label bg-tertiary">🗣️ English</li>
			<li class="label bg-tertiary">🗣️ Korean</li>
			<li class="label bg-tertiary">🗣️ Spanish</li>
			<li class="label bg-tertiary">🗣️ Portuguese</li>
		</ul>
	</header>

	<div>
		<p>
			I’m a full-stack software engineer whose career began long before my first
			line of production code. Before tech, I worked in the apparel industry—helping
			manufacture women’s clothing with my family, traveling the country selling
			products at fashion shows, and learning firsthand how businesses succeed or
			fail. When our small company couldn’t afford a website, I taught myself to
			code to build one. What started as a practical solution to a business problem
			became a passion that ultimately changed the trajectory of my career.
		</p>

		<p>
			The path from garment manufacturing to software engineering wasn’t planned,
			but it taught me how to solve real business problems and adapt quickly when
			opportunities arise. Since breaking into tech through a QA role, I’ve grown
			into a full-stack engineer by taking ownership of complex challenges,
			delivering high-impact solutions, and earning trust through execution. My
			background gives me a unique perspective: I care deeply about both the quality
			of the software and the people it serves. I’m most energized by mission-driven
			work where curiosity, ownership, and thoughtful problem-solving create
			meaningful impact.
		</p>
	</div>
</section>