<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1HP4X8B461"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-1HP4X8B461');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="200x200" href="/assets/images/NK-square-logo.png">
  <link rel="icon" type="image/png" href="/assets/images/NK-square-logo.png">
  <link rel="stylesheet" href="/assets/css/main.css">
  {% if page.stylesheet %}
    <link rel="stylesheet" href="{{ page.stylesheet }}">
  {% endif %}
  {% seo %}
  {% feed_meta %}
  <script type="module" src="/assets/js/main.js"></script>
  {% if page.script %}
    <script defer src="{{ page.script }}"></script>
  {% endif %}
</head>
