@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.flappy-bird {
  padding-bottom: 50px;
  min-height: 800px;
}

.game-title h1 {
    text-align: center;
    font-family: 'Carter One', cursive;
    color: rgb(251, 176, 37);
    font-size: 3em;
    line-height: 150%;
    letter-spacing: 4px;
    text-shadow: 2px 4px rgba(0,0,0, 1);
    margin: 0;
    position: relative;
    top: 10px;
}

h1::after {
    display:none;
}

.game-screen {
    width: 300px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

canvas {
    display: block;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
}

.game-description {
    line-height: 2em;
    text-align: center;
}

.source-link {
  text-align: center;
}
