.s-hero {
	position: relative;
  min-height: max(600px, calc(100vh - var(--navbar-height)));

	.screen-reader-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border: 0;
	}

	.s-hero__header {
    position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-wrap: pretty;
		gap: var(--spacer-md);

		img {
			min-width: 200px;
			max-width: 200px;
			width: 200px;
		}

		h1 {
			white-space: nowrap;
			font-weight: var(--regular);
			font-size: var(--font-size-xl);
		}
	}
}
