.s-hero {
	position: relative;
	min-height: 600px;
	height: calc(100vh - var(--navbar-height));

	.s-hero__header {
    position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-wrap: pretty;
		gap: var(--spacer-md);

		img {
			min-width: 200px;
			max-width: 200px;
			width: 200px;
		}

		h1 {
			white-space: nowrap;
			font-weight: var(--regular);
			font-size: var(--font-size-xl);
		}
	}
}
