@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.s-project {
	padding-top: var(--spacer-lg);
	padding-bottom: var(--spacer-2xl);
	padding-left: var(--spacer-md);
	padding-right: var(--spacer-md);
	display: flex;
	flex-direction: column;
	gap: var(--spacer-md);
	align-items: center;


	.game-title {
		h1 {
			text-align: center;
			font-family: 'Carter One', sans-serif;
			color: rgb(251, 176, 37);
			font-size: var(--font-size-3xl);
			text-shadow: -1px -1px 0 #000,
									1px -1px 0 #000,
									-1px 1px 0 #000,
									1px 1px 0 #000;

			@include respond-to('md') {
				font-size: var(--font-size-4xl);
			}
		}
	}

	.game-screen {
		display: flex;
		flex-direction: column;
		gap: var(--spacer-md);
		align-items: center;

		canvas#game {
			border: 1px solid black;
				display: block;
				width: 300px;
				height: 500px;
				margin: 0 auto;
				border-radius: 10px;
		}

		p#instructions {
			span.code {
				font-size: var(--font-size-sm);
				font-family: monospace;
				background-color: var(--color-bg-primary);
				padding: 4px;
				border-radius: var(--rounded-xs);
			}
		}
	}

	.project-links {
		display: flex;
		flex-direction: column;
		gap: var(--spacer-md);
		width: 100%;

    a {
			display: flex;
			align-items: center;
			gap: var(--spacer-xs);

			svg {
				width: var(--font-size-base);
				height: var(--font-size-base);
			}
		}
	}
}

@include respond-to('md') {
	.s-project {
		.project-links {
			flex-direction: row;
			justify-content: center;
		}
	}
}
