html {
	scroll-behavior: smooth;
	scroll-padding-top: var(--navbar-height);
}

body {
	width: 100%;
	margin: 0 auto;
	min-width: var(--container-min-width);
	max-width: var(--container-max-width);
	font-family: var(--font-family-primary);
	font-size: var(--font-size-base);
	display: flex;
	flex-direction: column;
	color: var(--color-text-primary);

	p {
		padding-bottom: var(--spacer-md);
		color: var(--color-text-primary-muted);
	}

	.accent {
		&::after {
			display: block;
			content: "";
			width: var(--spacer-xl);
			height: var(--spacer-sm);
			margin-top: var(--spacer-sm);
			margin-bottom: var(--spacer-md);
			background-color: var(--color-text-primary);
		}
	}
}

.l-main {
	margin-top: var(--navbar-height);
	flex-grow: 1;

	a {
		&:visited {
      color: var(--color-text-primary);
		}

		&:link {
      color: var(--color-text-primary);
		}
	}
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
