// More intuitive box-sizing model
*, *::before, *::after {
  box-sizing: border-box;
}

// Remove default margin except dialog
*:not(dialog) {
  margin: 0;
}

// Set core body defaults
body {
	min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

// ul,
// ol {
//   list-style: none;
// }

// Improve media defaults
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// Inherit fonts for form controls
input, button, textarea, select {
  font: inherit;
}

// Avoid text overflows
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

// Improve line wrapping
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}